/* Enter your custom styles here */
.zBarHeader.sapMBar{
    background-color: #00588B;
    filter: none;
}
.zBarHeader .sapMText{
	color: #fafafa !important;
}
.panelTable{
	margin-bottom: 1rem !important;
}


.zBtnBlue .sapMBtnInner {
    text-shadow: none !important;
    background: linear-gradient(#1104BD, #0070c9) !important;
    border-color: #07c !important;
    height: 34px;
}
.zfilter {
    padding-top:3rem !important;
}
.zBtnBlue .sapMBtnInner .sapMVarMngmtClickable{
    text-shadow: none !important;
    background: none !important;    
    /* border-color: #07c !important; */
    height: 34px;
}

.zBtnBlue .sapMBtnIcon {
    line-height: 2.08rem !important;
    color: white !important;
}

.zBtnBlue .sapMBtnInner .sapMBtnContent{

	overflow: initial !important;
	line-height: 2rem !important;
	font-weight: 300 !important;
    color: white !important;
}
 .zBtnBlue .sapMBtn {
    height: 2.3rem !important;
    padding: 0.1875rem 0;
 }
 .zBtnBlueUpload .sapMBtn {
    padding-top: 0rem !important;
    padding-right: 0px !important;
    padding-bottom: 0.1875rem !important;
    padding-left: 0px !important;
 }
 
 

.dPageHeader .sapFDynamicPageHeader {
    background: url(../utils/LatestBannerCOOutput.png), #000000;
    background-size: contain;
    background-position-x: inherit;
    background-position-y: center;
    min-height: 11rem;
    background-repeat:no-repeat;`
}




.dPageHeader .sapFDynamicPageTitle{
    
    display: none !important;
   
   }

   .buttonWithIconOnly .sapMBtnInner.sapMBtnIconFirst {
    border: 1px solid #00000029 !important;
    border-radius: 8px !important;
}
.buttonWithIconOnly .sapMBtnInner.sapMBtnIconFirst .sapMBtnIcon{
    color: #000000 !important;
}

.zTable{
	border-collapse: collapse;
	/*box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);*/
}
.zTable .sapUiTableHeaderDataCell .sapMLabel, .sapMListTbl .sapMColumnHeader .sapMLabel {
    font-size: 0.9rem;
    font-weight: bold !important;
} 
.zTable .sapMTitle {
    font-weight: bold !important;
}

.zInputRoundEdgeSF .sapMInputBaseContentWrapper{
    border-radius: 4px !important;
   
}

.zTable .sapUiTableVSb{
	max-height: 100% !important;
}


.contrastTextSF .sapMText{
    color:#FFFFFF !important;
}
.contrastTextSF .sapMBtnTransparent{
    color:#FFFFFF    !important;
    font-weight: bold;
}

.pageTitleContrast{
    color: #FFFFFF    !important;
    font-weight: bold !important;
    font-size: 1.5rem !important;
   }

.zToolBarBtn{
    margin-bottom: 0.33rem !important;
 }
 .contrastTextSF .sapMLabel{
    color: #FFFFFF !important;
    font-weight: bold;
}
.applePrimaryBtn .sapMBtnInner.sapMBtnEmphasized {
    /* text-shadow: none !important; */
    font-size: 15px;
    font-family: "SF Pro Text", -apple-system, sans-serif;
    color: #FFFFFF;
    font-weight: 500 !important;
    letter-spacing: 0px;
    /* height: 32px; */
    /* margin-left: 15px;
    padding: 0; */
    border-radius: 5px;
    border: 1px solid rgba(255,255,255,0.24);
    text-shadow: none !important;
    align-items: center;
    background: #007AFF 0% 0% no-repeat padding-box !important;
    /* padding-left: 20px;
    padding-right: 20px; */
}


.applePrimaryBtn .sapMBtnInner.sapMBtnEmphasized:active{
    background: #0068D1 !important;
    border: transparent;

 }

 .applePrimaryBtn .sapMBtnInner.sapMBtnEmphasized:hover{
     background: #177DE5 !important;
     border: 1px solid gray !important;
 }
 .applePrimaryBtn .sapMBtnInner.sapMBtnEmphasized .sapMBtnContent:hover{
    color: #FFFFFFFF !important;
}

.applePrimaryBtn .sapMBtnIcon {
    color: #FFFFFFFF !important;
}

.applePrimaryBtn .sapMBtnInner.sapMBtnEmphasized .sapMBtnContent{
    color:#FFFFFFFF !important;
}
/* 
  Transparent
 */
 .appleSecondaryBtn .sapMBtnInner {
    /* text-shadow: none !important; */
    font-size: 15px;
    font-family: "SF Pro Text", -apple-system, sans-serif;
    font-weight: 500 !important;
        border: 1px solid gray !important;
    color: #000000 !important;
    letter-spacing: 0px;
    /* height: 32px; */
    /* margin-left: 15px;
    padding: 0; */
    border-radius: 5px;
    text-shadow: none !important;
    align-items: center;
    background: #E8E8ED 0% 0% no-repeat padding-box;
    /* padding-left: 20px;
    padding-right: 20px; */

}

.appleSecondaryBtn .sapMBtnInner .sapMBtnContent:hover{
    color:rgb(0,0,0) !important;
}
.appleSecondaryBtn .sapMBtnInner:hover{
    background:rgb(230,230,232) !important;
    border-color: transparent !important ;
}

.appleSecondaryBtn .sapMBtnInner:active{
    background: rgb(216,215,216) !important;
    border: 1px solid #FFFFFF52 !important ;
 }

.appleSecondaryBtn .sapMBtnIcon {
    color: rgb(0,0,0)!important;
}


.buttonWithText .sapMBtnInner {
    font-size: 15px;
    font-weight: 500 !important;
    border: 1px solid gray !important;
    color: #000000 !important;
    letter-spacing: 0px;
    /* height: 32px; */
    /* margin-left: 15px; */
    padding: 0;
    border-radius: 5px;
    text-shadow: none !important;
    align-items: center;
    /* background: #E8E8ED 0% 0% no-repeat padding-box; */
    padding-left: 15px;
    padding-right: 15px;

}

.buttonWithText .sapMBtnInner .sapMBtnContent:hover{
    color:rgb(0,0,0) !important;
}
.buttonWithText .sapMBtnInner:hover{
    /* background:rgb(230,230,232) !important; */
    border-color: transparent !important ;
}

.buttonWithText .sapMBtnInner:active{
    /* background: rgb(216,215,216) !important; */
    border: 1px solid #FFFFFF52 !important ;
 }

.buttonWithText .sapMBtnIcon {
    color: rgb(0,0,0)!important;
}


.buttonWithTextReject .sapMBtnInner {
    font-size: 15px;
    font-weight: 500 !important;
    border: 1px solid gray !important;
    color: #FF0000 !important;
    letter-spacing: 0px;
    /* padding: 0; */
    border-radius: 5px;
    text-shadow: none !important;
    align-items: center;
    /* padding-left: 15px;
    padding-right: 15px; */

}

.buttonWithTextApprove .sapMBtnInner {
    font-size: 15px;
    font-weight: 500 !important;
    border: 1px solid gray !important;
    color: #006400 !important;
    letter-spacing: 0px;
    /* padding: 0; */
    border-radius: 5px;
    text-shadow: none !important;
    align-items: center;
    /* padding-left: 15px;
    padding-right: 15px; */

}
.appleAlternateBtn .sapMBtnInner {

    font-size: 15px;
    font-family: "SF Pro Text", -apple-system, sans-serif;
    font-weight: 500 !important;
    border: 1px solid #00000029 !important;
    color: #00000029 !important;
    letter-spacing: 0px;
    /* height: 32px; */
    /* margin-left: 15px;
    padding: 0; */
    border-radius: 5px;
    text-shadow: none !important;
    align-items: center;
    background:#FFFFFFFF !important;
    /* padding-left: 20px;
    padding-right: 20px; */



}
.appleAlternateBtn .sapMBtnInner .sapMBtnContent{
    color:#1D1D1FFF !important;
}
.appleAlternateBtn .sapMBtnInner .sapMBtnContent:hover{
    color:#1D1D1FFF !important;
}
.appleAlternateBtn .sapMBtnInner:hover{
    background:#FFFFFFFF !important;
    border: 1px solid #0000005C !important ;
}

.appleAlternateBtn .sapMBtnInner:active{
    background: #0000000A !important;
    border: 1px solid #A1A1A6FF !important ;
 }

.appleAlternateBtn .sapMBtnIcon {
    color: #1D1D1FFF !important;
}

.appleDangerBtn .sapMBtnInner {
    font-size: 15px;
    font-family: "SF Pro Text", -apple-system, sans-serif;
    font-weight: 500 !important;
        border: 1px solid gray;
    color:rgb(227,39,38) !important;
    letter-spacing: 0px;
    /* height: 32px;
    margin-left: 15px;
    padding: 0; */
    border-radius: 5px;
    text-shadow: none !important;
    align-items: center;
    background:#E8E8ED 0% 0% no-repeat padding-box !important;
    /* padding-left: 20px;
    padding-right: 20px; */

}

.appleDangerBtn .sapMBtnInner .sapMBtnContent:hover{
    color:rgb(227,39,38) !important;
}
.appleDangerBtn .sapMBtnInner:hover{
    background:rgb(230,230,232) !important;
    border-color: transparent !important ;
}

.appleDangerBtn .sapMBtnInner:active{
    background: rgb(216,215,216) !important;
    border: 1px solid #FFFFFF52 !important ;
 }

.appleDangerBtn .sapMBtnIcon {
    color: rgb(227,39,38) !important;
}
.zSTTitle .sapMTitle{
    font-weight: bold !important;
}
.zMultiSelectEdit .sapUiTableRowSelectionCell {
    height: 45px !important
}
.zTableTrEdit .sapUiTableTr {
    height: 45px !important
}

