
/* Enter your custom styles here*/

.sapUiBody {
    font-family: "SF Pro Text", -apple-system, sans-serif !important;
    font-size: 15px;
    padding: 0px;
    color: #333;
    background: #ffffff !important;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: 'liga', 'kern';
    font-feature-settings: 'liga', 'kern';
    text-shadow:none;
}
.sapMText, .sapMLnk, .sapMLabel, .sapMObjStatusText, .sapUiTable, .sapMBtnInner, .sapMTitle{
    font-family: "SF Pro Text", -apple-system, sans-serif !important;
}


.colorPicker{
   /* height:10% !important; */
   max-width: 30rem !important;
   display: flex;
   align-items: center;
}

.zTable{
	border-collapse: collapse;
	/*box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);*/
}

.zTable .sapUiTableVSb{
    max-height: 100% !important;
    }

.zTable .sapUiTableHeaderDataCell .sapMLabel, .sapMListTbl .sapMColumnHeader .sapMLabel {
    font-size: 0.9rem;
    font-weight: bold !important;
} 
.zTable .sapMTitle {
    font-weight: bold !important;
}

.zMultiSelectEdit .sapUiTableRowSelectionCell{
    height: 45px !important
}
.zTableTrEdit .sapUiTableTr {
    height: 45px !important
}
.zMultiSelectDisplay .sapUiTableRowSelectionCell{
    height: 45px !important
}
.zTableTrDisplay .sapUiTableTr {
    height: 45px !important
}
.zDynamicPage .sapFDynamicPageContentWrapperStandard>.sapFDynamicPageContent{
    background: #fff !important;

}
.zDynamicPageHeader {
   background: url(../utils/BannerLines.png) bottom / 100%,#000000 ;
    min-height: 11rem !important;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: top;
}

.zDynamicPageHeader .sapMText{
    font-size: 0.80rem !important;
}
.zDynamicPageHeader .sapMTitle{
    font-weight: bold;
    color: #FFFFFF !important;
    font-size: 1.5rem !important;
}

.zfilter .sapMLabel {
    color: rgb(46, 43, 43) !important;
}
.zfilter {
    padding-top:2rem !important;
}


.applePrimaryBtn .sapMBtnInner {
    /* text-shadow: none !important; */
    font-size: 15px;
    font-family: "SF Pro Text", -apple-system, sans-serif;
    color: #FFFFFF;
    font-weight: 500 !important;
    letter-spacing: 0px;
    /* height: 32px; */
    border-radius: 5px;
    border: 1px solid #00000029 !important;
    /* border: 1px solid rgba(255,255,255,0.24); */
    text-shadow: none !important;
    align-items: center;
    background: #007AFF 0% 0% no-repeat padding-box !important;
    /* margin-left: 15px;
    padding: 0;
    padding-left: 20px;
    padding-right: 20px; */
}


.applePrimaryBtn .sapMBtnInner:active{
    background: #0068D1 !important;
    border: transparent;

 }

 .applePrimaryBtn .sapMBtnInner:hover{
     background: #177DE5 !important;
     border: 1px solid gray !important;
 }
 .applePrimaryBtn .sapMBtnInner  .sapMBtnContent:hover{
    color: #FFFFFFFF !important;
}



.applePrimaryBtn .sapMBtnIcon {
    color: #FFFFFFFF !important;
}

.applePrimaryBtn .sapMBtnInner .sapMBtnContent{
    color:#FFFFFFFF !important;
    
    
}

 /* 
  Transparent
 */
 .appleSecondaryBtn .sapMBtnInner {
    /* text-shadow: none !important; */
    font-size: 15px;
    font-family: "SF Pro Text", -apple-system, sans-serif;
    font-weight: 500 !important;
    border: 1px solid #00000029 !important;
        /* border: 1px solid gray !important; */
    color: #000000 !important;
    letter-spacing: 0px;
    /* height: 32px; */

    border-radius: 5px;
    text-shadow: none !important;
    align-items: center;
    background: #E8E8ED 0% 0% no-repeat padding-box;
    /* margin-left: 15px;
    padding: 0;
    padding-left: 20px;
    padding-right: 20px; */

}

.appleSecondaryBtn .sapMBtnInner .sapMBtnContent:hover{
    color:rgb(0,0,0) !important;
}
.appleSecondaryBtn .sapMBtnInner:hover{
    background:rgb(230,230,232) !important;
    border: 1px solid gray !important;
    /* border-color: transparent !important ; */
}

.appleSecondaryBtn .sapMBtnInner:active{
    background: rgb(216,215,216) !important;
    border: 1px solid #FFFFFF52 !important ;
 }

.appleSecondaryBtn .sapMBtnIcon {
    color: rgb(0,0,0)!important;
}


.appleDangerBtn .sapMBtnInner {
    font-size: 15px;
    font-family: "SF Pro Text", -apple-system, sans-serif;
    font-weight: 500 !important;
    border: 1px solid #00000029 !important;
        /* border: 1px solid gray; */
    color:rgb(227,39,38) !important;
    letter-spacing: 0px;
    /* height: 32px; */

    border-radius: 5px;
    text-shadow: none !important;
    align-items: center;
    background:#E8E8ED 0% 0% no-repeat padding-box !important;
    /* margin-left: 15px;
    padding: 0;
    padding-left: 20px;
    padding-right: 20px; */

}

.appleDangerBtn .sapMBtnInner .sapMBtnContent:hover{
    color:rgb(227,39,38) !important;
}
.appleDangerBtn .sapMBtnInner:hover{
    background:rgb(230,230,232) !important;
    border: 1px solid gray !important;
    /* border-color: transparent !important ; */
}

.appleDangerBtn .sapMBtnInner:active{
    background: rgb(216,215,216) !important;
    border: 1px solid #FFFFFF52 !important ;
 }

.appleDangerBtn .sapMBtnIcon {
    color: rgb(227,39,38) !important;
}


.appleAlternateBtn .sapMBtnInner {

    font-size: 15px;
    font-family: "SF Pro Text", -apple-system, sans-serif;
    font-weight: 500 !important;
    border: 1px solid #00000029 !important;
    color: #00000029 !important;
    letter-spacing: 0px;
    /* height: 32px; */

    border-radius: 5px;
    text-shadow: none !important;
    align-items: center;
    background:#FFFFFFFF !important;
    /* margin-left: 15px;
    padding: 0;
    padding-left: 20px;
    padding-right: 20px; */


}
.appleAlternateBtn .sapMBtnInner .sapMBtnContent{
    color:#1D1D1FFF !important;
}
.appleAlternateBtn .sapMBtnInner .sapMBtnContent:hover{
    color:#1D1D1FFF !important;
}
.appleAlternateBtn .sapMBtnInner:hover{
    background:#FFFFFFFF !important;
    border: 1px solid gray !important;
    /* border: 1px solid #0000005C !important ; */
}

.appleAlternateBtn .sapMBtnInner:active{
    background: #0000000A !important;
    border: 1px solid #A1A1A6FF !important ;
 }

.appleAlternateBtn .sapMBtnIcon {
    color: #1D1D1FFF !important;
}
.buttonWithIconOnly .sapMBtnInner.sapMBtnIconFirst {
    border: 1px solid #00000029 !important;
    border-radius: 8px !important;
}
.buttonWithIconOnly .sapMBtnInner.sapMBtnIconFirst .sapMBtnIcon{
    color: #000000 !important;
}

.buttonWithText .sapMBtnInner {
    font-size: 15px;
    font-weight: 500 !important;
    border: 1px solid gray !important;
    color: #000000 !important;
    letter-spacing: 0px;
    /* height: 32px; */
    /* margin-left: 15px; */
    padding: 0;
    border-radius: 5px;
    text-shadow: none !important;
    align-items: center;
    /* background: #E8E8ED 0% 0% no-repeat padding-box; */
    padding-left: 15px;
    padding-right: 15px;

}

.buttonWithText .sapMBtnInner .sapMBtnContent:hover{
    color:rgb(0,0,0) !important;
}
.buttonWithText .sapMBtnInner:hover{
    /* background:rgb(230,230,232) !important; */
    border-color: transparent !important ;
}

.buttonWithText .sapMBtnInner:active{
    /* background: rgb(216,215,216) !important; */
    border: 1px solid #FFFFFF52 !important ;
 }

.buttonWithText .sapMBtnIcon {
    color: rgb(0,0,0)!important;
}
.contrastTextSF .sapMLabel{
    color: #ffffff  !important;
    font-weight: bold;
}
.contrastTextSF .sapMText{
    color: #ffffff  !important;
}
/* .contrastTextSF .sapMBtnTransparent{
    color: #ffffff  !important;
    font-weight: bold;
} */
.contrastTextSF .sapMBtnIcon{
    color: #ffffff  !important;
}

/* Smart filter CSS  */

.appleSFPrimaryBtn .sapMBtnInner.sapMBtnEmphasized {
    /* text-shadow: none !important; */
    font-size: 15px;
    font-family: "SF Pro Text", -apple-system, sans-serif;
    color: #FFFFFF;
    font-weight: 500 !important;
    letter-spacing: 0px;
    height: 32px;
    margin-left: 15px;
    padding: 0;
    border-radius: 5px;
    border: 1px solid rgba(255,255,255,0.24);
    text-shadow: none !important;
    align-items: center;
    background: #007AFF 0% 0% no-repeat padding-box !important;
    padding-left: 20px;
    padding-right: 20px;
}


.appleSFPrimaryBtn .sapMBtnInner.sapMBtnEmphasized:active{
    background: #0068D1 !important;
    border: transparent;

 }

 .appleSFPrimaryBtn .sapMBtnInner.sapMBtnEmphasized:hover{
     background: #177DE5 !important;

 }
 .appleSFPrimaryBtn .sapMBtnInner.sapMBtnEmphasized .sapMBtnContent:hover{
    color: #FFFFFFFF !important;
}



.appleSFPrimaryBtn .sapMBtnIcon {
    color: #FFFFFFFF !important;
}

.appleSFPrimaryBtn .sapMBtnInner.sapMBtnEmphasized .sapMBtnContent{
    color:#FFFFFFFF !important;
    
    
}

 /* 
  Transparent
 */
 .appleSFSecondaryBtn .sapMBtnInner {
    /* text-shadow: none !important; */
    font-size: 15px;
    font-family: "SF Pro Text", -apple-system, sans-serif;
    font-weight: 500 !important;
        border: 1px solid gray !important;
    color: #000000 !important;
    letter-spacing: 0px;
    height: 32px;
    margin-left: 15px;
    padding: 0;
    border-radius: 5px;
    text-shadow: none !important;
    align-items: center;
    background: #E8E8ED 0% 0% no-repeat padding-box;
    padding-left: 20px;
    padding-right: 20px;

}

.appleSFSecondaryBtn .sapMBtnInner .sapMBtnContent:hover{
    color:rgb(0,0,0) !important;
}
.appleSFSecondaryBtn .sapMBtnInner:hover{
    background:rgb(230,230,232) !important;
    border-color: transparent !important ;
}

.appleSFSecondaryBtn .sapMBtnInner:active{
    background: rgb(216,215,216) !important;
    border: 1px solid #FFFFFF52 !important ;
 }

.appleSFSecondaryBtn .sapMBtnIcon {
    color: rgb(0,0,0)!important;
}
